/* You can add global styles to this file, and also import other style files */
html {
  max-width: 100%;
  overflow-x: hidden;
}
body {

  background: url("/assets/bgnewlush.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

textarea:focus, input:focus{
  outline: none;
}
